body {
    font: 14px Raleway;
    color: #6b6b6b;
    font-weight: 700;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.data {
    display: flex;
    justify-content: center;
}
  
.axis path,
.axis line {
  fill: none;
  stroke: #6b6b6b;
  shape-rendering: crispEdges;
}
  
.tick {
    font: 12px Raleway;
    font-weight: 200;
    stroke: #6b6b6b;
}
  
div.tooltip {	
    position: absolute;			
    text-align: center;
    min-width: 80px;				
    height: 18px;					
    padding: 5px;				
    font: 12px Raleway;
    font-weight: 600;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    color: white;			
}
  
div.html {
    align-items: center;
    margin: 5px;
}